.left{
	//float:left;
	//width:50%;
}
.tab0{
	background-color:red;
}
.tab1{
	background-color:blue;
}
.tab2{
	background-color:green;
}
.tab3{
	background-color:yellow;
}
.tab4{
	background-color:orange;
}
.tab5{
	background-color:azure;
}
.tab6{
	background-color:beige;
}
.tab7{
	background-color:blueviolet;
}
.tab8{
	background-color:BurlyWood;
}
.tab9{
	background-color:Chartreuse;
}
.tab10{
	background-color:red;
}
.tab11{
	background-color:blue;
}
.tab12{
	background-color:green;
}
.tab13{
	background-color:yellow;
}
.tab14{
	background-color:orange;
}
.tab15{
	background-color:azure;
}
.tab16{
	background-color:beige;
}
.tab17{
	background-color:blueviolet;
}
.tab18{
	background-color:BurlyWood;
}
.tab19{
	background-color:Chartreuse;
}
.tab20{
	background-color:red;
}
.tab21{
	background-color:blue;
}
.tab22{
	background-color:green;
}
.tab23{
	background-color:yellow;
}
.tab24{
	background-color:orange;
}
.tab25{
	background-color:azure;
}
.tab26{
	background-color:beige;
}
.tab27{
	background-color:blueviolet;
}
.tab28{
	background-color:BurlyWood;
}
.tab29{
	background-color:Chartreuse;
}
.tab30{
	background-color:red;
}
.tab31{
	background-color:blue;
}
.tab32{
	background-color:green;
}
.tab33{
	background-color:yellow;
}
.tab34{
	background-color:orange;
}
.tab35{
	background-color:azure;
}
.tab36{
	background-color:beige;
}
.tab37{
	background-color:blueviolet;
}
.tab38{
	background-color:BurlyWood;
}
.tab39{
	background-color:Chartreuse;
} 
table{
	border-collapse: collapse;
	border:solid;
	border-width:1px;
    font-size:0.8em;
    //min-width:50%;
}
table tr,td{
	border:solid;
	border-width:1px;
	min-width:60px;
	min-height:35px;
    text-align:center;
}
